@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #111016;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
  overflow: auto; /* Permite a rolagem */
  -ms-overflow-style: none; /* Remove barra de rolagem no IE e Edge */
  scrollbar-width: none; /* Remove barra no Firefox */
}

body::-webkit-scrollbar {
  width: 0px; /* Remove a barra no Chrome, Safari e Edge */
  height: 0px; /* Remove a barra horizontal */
}

.container-message {
width: 800px;
height: 90vh;
margin-top: 15px;
padding: 0;
display: flex;
scrollbar-width: none;
}

.zoe-icon {
  display: flex;
  width: 100%;
}

@media (max-width: 768px) {
  .container-message {
    width: 650px;
    height: 85vh;
  }
}

@media (max-width: 700px) {
  .container-message {
    width: 500px;
    height: 85vh;
  }
}

@media (max-width: 480px) {
  .container-message {
    width: 320px;
    height: 80vh;
  }
}